<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<title>게시글 상세</title>
</head>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/page/detailBoard.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script th:src="@{/js/page/detailBoard.js}"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</th:block>

<div layout:fragment="content">
	<main role="main" class="container" style="width: 50%;">
		<div class="page-header">
			<h1>게시글 상세</h1>
		</div>

		<div class="starter-template">
			<input type="hidden" id="idDeleted" name="idDeleted" th:value="${boardInfo.isDeleted}">
			<input type="hidden" id="id" name="id" th:value="${boardInfo.id}">
			<input type="hidden" id="password" name="password"
				th:value="${boardInfo.password}">

			<table class="table table-fixed w-auto" style="width: 70%">
				<tbody>
					<tr>
						<th class="col-md-2">제목</th>
						<td class="col-md-9" th:text="${boardInfo.title}"></td>
					</tr>
					<tr>
						<th class="col-md-2">작성자</th>
						<td class="col-md-9" th:text="${boardInfo.writer}"></td>
					</tr>
					<tr>
						<th class="col-md-2">작성일</th>
						<td class="col-md-9" th:inline="text">[[${#temporals.format(boardInfo.createdAt,
							'yyyy-MM-dd HH:mm')}]]</td>
					</tr>
					<tr>
						<th class="col-md-2">본문 내용</th>
						<td style="white-space: pre-wrap" class="col-md-9"
							th:text="${boardInfo.contents}"></td>
					</tr>
				</tbody>
			</table>
			<hr/>
			<div style="display:flex; ">
				<div>
					<span><b>첨부 파일</b></span>
				</div>
				<div style="margin: 0 auto;">
					<div th:each="file : ${fileList}" >
						<a th:href="@{/download(id = ${file.id})}" th:text="${file.originalName}"></a>
					</div>
				</div>
			</div>
			<!-- 수정/삭제 -->
			<div class="btn_wrap text-center">
				<div>
					<a class="btn btn-primary" onclick="viewReplyBoard()">답글달기</a> <a
						class="btn btn-warning" onclick="deleteBoard()" id="delete-btn">삭제</a>
					<a class="btn btn-primary" onclick="chkPassword()">수정</a>
					<a th:href="@{'/'}" class="btn btn-primary"> 목록 </a>
				</div>
			</div>


			<!-- 댓글달기 -->
			<br />
			<div class="card" style="width: 80%; margin:auto;">
				<div class="card-header">댓글</div>
				<div class="commentWriter">
					<label style="float: left" for="commentWriter"
						class="col-sm-2 control-label">작성자</label> <input type="text"
						style="width: 70%" id="commentWriter" name="commentWriter"
						onchange="checkInputCommentWriter(this, 7)"
						oninput="checkInputCommentWriter(this, 7)"
						placeholder="작성자를 입력해주세요. (최대 7글자)" /> <span style="float: right"
						id="commentWriterLengthCheck">0/7</span>
				</div>
				<div class="commentPassword">
					<label style="float: left" for="commentPassword"
						class="col-sm-2 control-label">비밀번호</label> <input type="password"
						onchange="checkInputCommentPassword(this, 15)" style="width: 70%"
						id="commentPassword" name="commentPassword"
						placeholder="영문, 숫자, 특수문자 조합의 8~15자리를 입력해주세요.">

				</div>
				<div class="commentContents">
					<label style="float: left" for="commentContents"
						class="col-sm-2 control-label">내용</label>
					<textarea style="resize: none" id="commentContents" cols="56"
						rows="3" oninput="checkInputCommentContents(this, 70)"
						onchange="checkInputCommentContents(this, 70)"
						placeholder="내용을 입력해주세요 (최대 70자)"></textarea>
					<span style="float: right" id="commentContentsLengthCheck">0/70</span>
					<div style="display: flex; justify-content: center;">
						<button style="float: center;" type="submit"
							onclick="submitComment()" id="submitComment"
							class="btn btn-primary waves-effect waves-light">댓글 등록</button>
					</div>
				</div>
				<ul id="reply--box" class="list-group"
					th:each="comment : ${commentList}">
					<li id="reply--[[${comment.id}]]"
						class="list-group-item d-flex justify-content-between">
						<div>
							<div style="font-size: 14px;" th:text="|${comment.contents}|"></div>
							<div class="d-flex">
								<div class="text-monospace"
									style="float: left; font-size: 13px;"
									th:utext="|작성자 : ${comment.writer}&nbsp; |"></div>
								<div>
									<button class="badge btn-danger"
										th:attr="comment-id = ${comment.id}, comment-password = ${comment.password}"
										onclick="deleteComment(this.getAttribute('comment-id'), this.getAttribute('comment-password'))">
										삭제</button>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</main>
</div>
</html>