<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<title>게시글 리스트(메인)</title>
</head>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/page/home.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/js/page/home.js}"></script>
</th:block>

<div layout:fragment="content">
	<main role="main" class="container" style="width: 50%;">

		<div class="page-header">
			<h2>게시글 목록</h2>
		</div>
		<div class="starter-template">

			<!-- 글쓰기 버튼 -->
			<a style="float: right" class="btn btn-primary"
				th:href="@{/board/write}">글쓰기</a> <a style="float: left"
				class="btn btn-primary" th:href="@{/}">메인목록</a>

			<table class="table table-bordered">
				<!-- CONTENTS !-->
				<thead>
					<tr class="table-head">
						<th class="col-md-1">번호</th>
						<th class="col-md-7">글제목</th>
						<th class="col-md-2">작성자</th>
						<th class="col-md-3">작성일</th>
					</tr>
				</thead>

				<tbody class="table-contents">
					<!-- CONTENTS !-->
					<tr th:each="board : ${boardList}">
						<td th:text="${board.RN}"></td>

						<td id="table-conents-title" style="text-align: left;">
							<span th:utext="|${'&ensp;'.repeat(board.depth)}|"></span>
							
							<a	th:if="${board.step} != 0 and ${board.isDeleted} == false"
								th:href="'/board/'+${board.id}" th:utext="|↳ ${board.title} (${board.commentCnt})|">
							</a>
							<a	th:if="${board.step} == 0 and ${board.isDeleted} == false"
								th:href="'/board/'+${board.id}" th:text="|${board.title} (${board.commentCnt})|">
							</a>
							<span	th:if="${board.step} != 0 and ${board.isDeleted} == true"
								th:utext="|↳ 삭제된 게시글 입니다.|">
							</span>
							<span	th:if="${board.step} == 0 and ${board.isDeleted} == true"
								th:text="| 삭제된 게시글 입니다.|">
							</span>
						</td>							
						
						<td th:text="${board.writer}"></td>
						
						<td
							th:text="${board.createdAt} ? ${#temporals.format(board.createdAt,'yyyy-MM-dd')} : ${board.createdAt}">
						</td>
						
					</tr>
				</tbody>
			</table>
			<!-- Pagination -->
			<div id="pagination">
				<!-- 맨 처음 페이지로 이동하는 버튼 -->
				<span
					th:if="${pageDto.startPage > 1} and ${criteria.keyword == null}">
					<a th:href="@{'/board?page=1'}" th:text="'처음&emsp;'"></a>
				</span> <span
					th:if="${pageDto.startPage > 1} and ${criteria.keyword != null}">
					<a
					th:href="@{'/board?type='+${criteria.type}+'&keyword='+${criteria.keyword}+'&page=1'}"
					th:text="'처음&emsp;'"></a>
				</span>

				<!-- 이전 블록으로 이동하는 버튼 -->
				<span
					th:if="${pageDto.isPrev == true} and ${criteria.keyword == null}">
					<a th:href="@{'/board?page='+${pageDto.startPage - 1}}"
					th:text="'이전'"></a>
				</span> <span
					th:if="${pageDto.startPage > 1} and ${criteria.keyword != null}">
					<a
					th:href="@{'/board?type='+${criteria.type}+
					'&keyword='+${criteria.keyword}+'&page='+${pageDto.startPage - 1}}"
					th:text="'이전'"></a>
				</span>

				<!-- 시퀀스 보여주는 값을 변경. -->
				<span
					th:if="${criteria.keyword == null} and ${pageDto.endPage != 0}"
					th:each="pageNum : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
					<a class="div2" th:href="@{'/board?page='+${pageNum}}"
					th:text="|&emsp;${pageNum}&emsp;|"></a>
				</span> <span
					th:if="${criteria.keyword == null} and ${pageDto.endPage == 0}">
					<a class="div2" th:href="@{'/board?page=1'}"
					th:text="|&emsp;1&emsp;|"></a>
				</span> <span
					th:if="${criteria.keyword != null} and ${pageDto.endPage == 0}">
					<a class="div2"
					th:href="@{'/board?type='+${criteria.type}+'&keyword='+${criteria.keyword}+'&page='+1}"
					th:text="|&emsp;1&emsp;|"></a>
				</span> <span
					th:if="${criteria.keyword != null} and ${pageDto.endPage != 0}"
					th:each="pageNum : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}">
					<a class="div2"
					th:href="@{'/board?type='+${criteria.type}+'&keyword='+${criteria.keyword}+'&page='+${pageNum}}"
					th:text="|&emsp;${pageNum}&emsp;|"></a>
				</span>

				<!-- 다음 블록으로 이동하는 버튼 -->
				<span
					th:if="${pageDto.isNext == true} and ${criteria.keyword == null}">
					<a th:href="@{'/board?page='+|${pageDto.endPage + 1}|}"
					th:text="'다음'"></a>
				</span> <span
					th:if="${pageDto.isNext == true} and ${criteria.keyword != null}">
					<a
					th:href="@{'/board?type='+${criteria.type}+'&keyword='+${criteria.keyword}+'&page='+${pageDto.endPage + 1}}"
					th:text="'다음'"></a>
				</span>



				<!-- 맨 뒷 페이지로 이동하는 버튼 -->
				<span
					th:if="${pageDto.endPage < pageDto.totalPageCount} and ${criteria.keyword == null}">
					<a th:href="@{'/board?page='+${pageDto.totalPageCount}}"
					th:text="|&emsp;끝|"></a>
				</span> <span
					th:if="${pageDto.endPage < pageDto.totalPageCount} and ${criteria.keyword != null}">
					<a
					th:href="@{'/board?type='+${criteria.type}+'&keyword='+${criteria.keyword}+'&page='+${pageDto.totalPageCount}}"
					th:text="|&emsp;끝|"></a>
				</span>

			</div>
		</div>
		<div class="search">
			<div class="search-set">
				<select name="select-type" id="select-type"
					th:value="${criteria.type}">
					<option selected value="all"
						th:selected="${criteria.type} == 'all'">전체</option>
					<option value="title" th:selected="${criteria.type} == 'title'">제목</option>
					<option value="contents"
						th:selected="${criteria.type} == 'contents'">내용</option>
					<option value="writer" th:selected="${criteria.type} == 'writer'">작성자</option>
				</select> <input type="text" name="search-keyword" placeholder="검색어를 입력해주세요."
					th:value="${criteria.keyword}"
					onchange="checkSearchInput(this, 30)" onkeydown="enterKey()"
					onkeyup="checkSearchInput(this, 30)" id="search-keyword">
				<button type=submit class="btn btn-primary" id="search-button"
					onclick="submitSearchBoard()">검색</button>

			</div>
		</div>
	</main>
</div>
</html>