<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<title>게시글 작성</title>
</head>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/page/writeBoard.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script th:src="@{/js/page/replyBoard.js}"></script>

</th:block>

<div layout:fragment="content">
	<main class="container" style="width: 50%;" >
		<div class="page-header">
			<h2>답글 등록</h2>
		</div>
		<div class="starter-template" id="starter-template">
			<input type="hidden" id="id" name="id" th:value="${id}">
			<input type="hidden" id="cooltime" name="cooltime" th:value="${cooltime}">
			
				<div class="form-group" style="margin:0;">
					<label style="float: left" for="title"
						class="col-sm-2 control-label">제목</label>
					<div class="col-sm-9"  style="margin-top: 10px;">
						<input type="text" class="form-control" id="title" name="title"
							 onchange="checkInputTitle(this,30)" oninput="checkInputTitle(this,30)"
							placeholder="제목을 입력해주세요. (최대 30글자)" />
						<div><span style="float:right" id="titleLengthCheck">0/30</span></div>
					</div>
				</div>

				<div class="form-group">
					<label style="float: left" for="writer" 
						class="col-sm-2 control-label">작성자</label>
					<div class="col-sm-9" style="margin-top: 10px;">
						<input type="text" class="form-control" 
							 id="writer"  onchange="checkInputWriter(this, 7)" oninput="checkInputWriter(this, 7)"
							placeholder="작성자를 입력해주세요. (최대 7글자)" />	
						<div><span style="float:right" id="writerLengthCheck">0/7</span></div>
					</div>
				</div>
				<div class="form-group">
					<label style="float: left" for="password" 
						class="col-sm-2 control-label">비밀번호</label>
					<div class="col-sm-9" style="margin-top: 10px;">
						<input type="password" class="form-control" id="password" 
							name="password" onchange="checkInputPassword(this, 15)"
							placeholder="영문, 숫자, 특수문자 조합의 8~15자리를 입력해주세요." />
					</div>
				</div>
				<div class="form-group">
					<label style="float: left" for="contents"
						class="col-sm-2 control-label">내용</label>
					<div class="col-sm-9">
						<textarea style="resize: none" class="form-control" cols="5"
							rows="11" onchange="checkInputContents(this,1500)" oninput = "checkInputContents(this, 1500)"
							id="contents" placeholder="내용을 입력해주세요. (최대 1500자)"></textarea>
						<div><span style="float:right" id="contentsLengthCheck">0/1500</span></div>
					</div>
				</div>

				<div class="btn_wrap text-center">
					<div>
						<button style="float:center;" type="submit" onclick="submitReplyBoard()"
							id = "submitReplyWriteBoard"
							class="btn btn-primary waves-effect waves-light">답글 등록</button>
						<!--  <p id="coolTimeDisplay"></p>  -->
					</div>
					<div style="float:right; margin-right: 45px;">
						<a th:href="@{/}" class="btn btn-primary">목록</a>
					</div>
				</div>
		</div>
	</main>
</div>
</html>
