.btn_wrap{
	margin-top: 15px;
	text-align: center;
	justify-content: center;
}

table {
	margin-left:auto; 
    margin-right:auto;
	margin-top: 15px;
	text-align: center;
	justify-content: center;
}

.btn_wrap{
	margin-top: 15px;	
	display: flex;
	padding: 2px;
	text-align: center;
	justify-content: center;
}

main {
	width: 60%;
	justify-content: center;
}

.col-md-9 {
	text-align: left;
}


