.btn_wrap{
	margin-top: 15px;
	text-align: center;
	justify-content: center;
}

.field-error {
	color: red;
	font-size: 11px;
}

.form-horizontal {
	text-align: center;
}

.form-group {
	margin-bottom: 0;
}

main {
	width: 60%;
	justify-content: center;
}

input[type="file"] {
    padding: 6px;
    max-width: 100%;
}
.multiple-upload {
	
	text-align: center;
	justify-content: center;
}