<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.limhaekyu.boardproject.mapper.FileMapper">
	<insert id="saveFile"
		parameterType="com.limhaekyu.boardproject.dto.FileDto">
		insert into tb_file (original_name, saved_name, saved_path, file_size, board_id)
		values
		(#{originalName}, #{savedName}, #{savedPath}, #{fileSize}, #{boardId})
	</insert>
	
	<select id="findFileByBoardId"
		resultType="com.limhaekyu.boardproject.dto.FileDto">
		select id, original_name, saved_name, file_size, board_id, saved_at
  		from tb_file
  		where board_id = #{boardId}
		
	</select>
	
	<select id="findSavedPathById" resultType="String">
		select saved_path from tb_file where id = #{id}
	</select>
</mapper>