<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.limhaekyu.boardproject.mapper.MemberMapper">
	<insert id="signUp"
		parameterType="com.limhaekyu.boardproject.dto.MemberDto">
		insert into tb_member (member_id, name, password) values
		(#{memberId}, #{name}, #{password})
	</insert>
	
	<select id = "selectMemberByMemberId" parameterType = "Long" resultType="com.limhaekyu.boardproject.dto.MemberDto">
		select * from tb_member where member_id = #{memberId}
	</select>

</mapper>